/* --------- Header-----------*/

header {
    padding: 92px 51px;
    display: flex;
    align-items: center;
}

.header-nav {
    flex-grow: 3;
}

.header-nav__list {
    display: flex;
    gap: 32px;
}

.header-nav-link {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-bottom: 1px solid #000;
    padding-bottom: 1px;

    text-decoration: none;
}

.header-nav-active {
    border-bottom: none;
}

.header-nav__list-item {
    list-style: circle;
}

.header-nav__list-item-none {
    list-style: none;
}

.header-logo {
    flex-grow: 5;
}

.header-img-logo {
    width: 148px;
    height: 105px;
}

.contacts {
    max-width: 240px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px;
}

.contacts-phone span, 
.contacts-mail span {
    border-bottom: 1px solid #000;
}

.contacts-style {
    text-decoration: none;
}

/* ----------main ---------- */

/* Cover */

.cover {
    background-image: url(../images/cover.jpg);

    background-size: cover;
    background-position: center;
    position: relative;
}

.overlay {
    background: #000;
    opacity: 0.6;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    z-index: 1;
}

.cover-title {
    color: #FFF;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 30px;
    text-transform: uppercase;
    padding: 165px 50px 135px 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    z-index: 2;
    position: relative;
}

.cover-title p {
    display: flex;
}

.cover-title-first {
    line-height: 115%;
}

.cover-title-second {
    line-height: 100%;
    justify-content: center;
}

.cover-title-third {
    line-height: 100%;
    justify-content: end;
}

.cover-title-first,
.cover-title-second,
.cover-title-third {
    display: flex;
}

.span-cover-text {
    letter-spacing: 60px;
}

.span-cover-text__last-letter {
    letter-spacing: 0;
}

.cover-button-block {
    padding: 0 50px 50px;
    display: flex;
    align-items: center;
    justify-content: end;
    z-index: 2;
    position: relative;
}

.cover-text {
    color: #FFF;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    word-spacing: 18px;
}

.cover-button {
    display: flex;
    justify-content: end;
    margin-left: 78px;
}

.cover-button-style {
    padding: 12px 32px;
    border: 1px solid #FFF;
    background-color: transparent;
    cursor: pointer;

    color: #FFF;

    text-align: center;
    font-size: 22px;
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

/* lots */

.lots {
    padding: 180px 50px 180px 50px;
}

.lots-title {
    margin-left: 40px;

    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.lots-cards {
    margin: 27px 0 30px 0;
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.lots-card-item {
    min-height: 450px;
    min-width: 430px;
    position: relative;

    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 40px;
}

.lots-card-item__film {
    background-image: url(../images/card-lot-01.jpg);
}

.lots-card-item__book {
    background-image: url(../images/card-lot-02.jpg);
}

.lots-card-item__picture {
    background-image: url(../images/card-lot-03.jpg);
} 

.lots-card-title {
    position: relative;
    z-index: 2;
    width: 350px;

    color: #FFF;

    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-decoration-line: underline;
    text-transform: uppercase;
}

.lots-card-text {
    color: #FFF;
    width: 350px;
    z-index: 2;

    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    position: relative;
}

.lots-show-more {
    margin: 30px 0 0 40px;

    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-bottom: 1px solid #000;
    padding-bottom: 1px;
    text-decoration: none;
}

/* about */

.about {
    display: flex;
    justify-content: space-between;
    margin: 0 50px 0 145px;
}

.about-logo {
    width: 240px;
    height: 240px;
    background: #000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-logo-white {
    width: 148px;
    height: 114px;
}

.about-text-block {
    margin: 101px 0 0 120px;
}

.about-title {
    margin-bottom: 100px;

    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.about-text {
    width: 885px;

    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.about-text-gap {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

/* --------- footer ---------- */

.footer-block {
    display: flex;
    margin: 180px 50px 90px 50px;
    justify-content: space-between;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-nav-text {
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    border-bottom: 1px solid #000;
    padding-bottom: 1px;
}

.footer-nav-text__active {
    border-bottom: none;
}

.footer-social_network {
    width: 240px;
    display: flex;
    justify-content: space-between;
}

.footer-social_network__svg {
    width: 48px;
    height: 48px;
}